<footer class="bg-dark-background py-4 px-6 mt-10">
  <h1 class="text-center font-medium text-lg">
    Made with <span class="text-red-300 font-bold">Love</span> and <span class="text-orange-200 font-bold">Astro</span>
    by <span class="text-primary font-bold">Gabriel Guerra</span>
  </h1>
</footer>
